spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=create-drop
server.port=60000
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true