spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=create-drop
server.port=60000
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true

admin.username=
admin.password=
employee.password=

signing_key=
token_prefix=
header_string=
authorities_key=